body {
  --max-width: 1024px;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: #f1f2f6;
}
#app {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.not-show {
  display: none;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 212);
  border-radius: 10px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media screen and (max-width: 256px) {
  html {
    font-size: 3px !important;
  }
}
@media screen and (max-width: 512px) {
  html {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 2048px) {
  html {
    font-size: 24px !important;
  }
}
@media screen and (min-width: 4096px) {
  html {
    font-size: 36px !important;
  }
}
