body {
  --max-width: 1024px;
  --duration1: 128ms;
  --duration2: 256ms;
  --duration3: 512ms;
  --duration4: 1024ms;
  --duration5: 2048ms;

  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: #f1f2f6;
}
#app {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.not-show {
  display: none;
}
*::-webkit-scrollbar {
  position: fixed;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-button {
  position: fixed;
  display: none;
}

*::-webkit-scrollbar-thumb {
  position: fixed;
  background-color: rgb(206, 206, 212);
  border-radius: 10px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
